body{
    background:linear-gradient(120deg,#667eea,#764ba2);
    font-family:sans-serif;
}

.container,.box{
    background:#fff;
    padding:30px;
    border-radius:15px;
    max-width:500px
    ;margin:40px auto;
    box-shadow:0 15px 25px rgba(0,0,0,.2)
}

h1{
    text-align:center;
    color:#444
}

input,button{
    padding:10px;
    width:100%;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc
}

button{
    background:#667eea;
    color:white;
    font-weight:bold;
    border:none
}

ul{
    list-style:none;
    padding:0
}

li{
    padding:10px;margin:10px 0;
    background:#f4f6ff;
    border-radius:10px
}

.done{
    text-decoration:line-through;
    color:gray
}

.actions a{
    margin:0 6px;
    text-decoration:none;
    font-size:18px
}

.logout{
    text-align:center;
    display:block;
    margin-top:15px
}