*{
    margin:0; padding:0;
    font-family: Arial;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

:root {
    --bg: #f2f2f2;
    --text: #333;
    --card: #fff;
}

.dark {
    --bg: #1e1e1e;
    --text: #fff;
    --card: #2b2b2b;
}

.container {
    width: 60%;
    margin: 20px auto;
}

h1 { text-align: center; margin-bottom: 20px; }

.note-card {
    background: var(--card);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.btn {
    padding: 8px 15px;
    background: #4e73df;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.btn-red { background: red; }
.btn-green { background: green; }

.top-bar {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.theme-toggle {
    float: right;
    padding: 6px 12px;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 50px;
}
